[submodule "libkrun"]
	path = libkrun
	url = git@github.com:joshuarli/libkrun.git
[submodule "libkrunfw"]
	path = libkrunfw
	url = git@github.com:joshuarli/libkrunfw.git
[submodule "smolvm-sdk"]
	path = smolvm-sdk
	url = git@github.com:joshuarli/smolvm-sdk.git
